@import 'index.css';

body {
    font-family: var(--fonte);
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: var(--branco_fonte);
    background-image: url( '/wave.svg' ),
                    url('/funky-lines.png');
    /* background-size: cover; */

    background-repeat: no-repeat, repeat;
    background-position: bottom center;
    background-size: auto, auto;
    background-attachment: fixed, fixed;
}


/* Criminoso isso aqui */
label {
    position: absolute;
    left: 500000px;
}

h1 {
    font-size: 64px;
    margin: 1em 0 0.5em 0;
}

h2 {
    font-size: 36px;
    margin-bottom: 1.5em;
}

.background_forms {
    background-color: var(--rosa_pesquisa);
    height: 593px;
    width: 506px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 25px 0 25px 0;
    border: 1px solid var(--rosa_botao);

    -webkit-box-shadow: 9px 10px 30px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 10px 30px -7px rgba(0,0,0,0.75);
    box-shadow: 9px 10px 30px -7px rgba(0,0,0,0.75);
}

.input {
    height: 50px;
    width: 355px;
    padding-left: 15px;
    border-radius: 25px 0 25px 0;
    border-color: transparent;
    margin: 10px;
    font-size: 20px;
    font-family: var(--fonte);
    color: var(--preto_fonte);
}

.input::placeholder {
    font-size: 20px;
    font-family: var(--fonte);
    color: var(--preto_fonte);
}

.button_area {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2em;
}

.btn {
    background-color: var(--cinza_botao);
    border-radius: 25px 0 25px 0;
    border-color: transparent;
    height: 48px;
    width: 170px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    color: var(--preto_fonte);
    text-align: center;
    font-family: var(--fonte);

    -webkit-box-shadow: 9px 10px 30px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 10px 30px -7px rgba(0,0,0,0.75);
    box-shadow: 9px 10px 30px -7px rgba(0,0,0,0.75);
}

a.btn{
    padding-top: 30px;
}

button.btn {
    padding-top: 5px;
    height: 78px;
    width: 170px;
}

.btn:hover{
    background-color: var(--amarelo_cartao);
    transform: scale(1.1);
    transition: 0.3s ease;
}

@media (max-width: 390px){
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
    }
    
    .background_forms {
        width: 300px;
        height: 500px;
    }

    .input {
        width: 250px;
        font-size: 16px;
    }

    .button_area {
        flex-direction: column;
        gap: 1em;
    }

    button.btn {
        height: 50px;
    }

    a.btn{
        height: 35px;
        padding-top: 15px;
    }

    .input::placeholder {
        font-size: 16px;
    }
}